[Unit]
Description=Etcd Server
After=network.target

[Service]
Type=notify
User={{etcd_user}}
#WorkingDirectory={{etcd_data_dir}}/
EnvironmentFile=-/etc/etcd/etcd.conf
# set GOMAXPROCS to number of processors
ExecStart=/usr/local/etcd/bin/etcd --config-file=/usr/local/etcd/conf/etcd.yaml
Restart=on-failure
LimitNOFILE=65536

[Install]
WantedBy=multi-user.target
