
[Unit]
Description=Add LVS VIP to loopback interface
After=network.target

[Service]
Type=oneshot
ExecStart=/sbin/ip addr add {{ virtual_ip }}/32 dev lo
ExecStop=/sbin/ip addr del {{ virtual_ip }}/32 dev lo
RemainAfterExit=true

[Install]
WantedBy=multi-user.target
